*.o
*.dylib
*.dll
*.so
*.a
*.lib
*.exe
*.stackdump
test/test.*
*.out
*.stats
*.xml
prof.txt
gprof.txt
data/facebook.txt
data/twitter.txt
data/cfg_lca.graphml
data/cfg_lca_nodes.txt
data/cfg_lca_edges.txt
data/cfg_lca.clangcppcfg
CMakeFiles/
CMakeCache.txt
*.cmake
*.ninja_deps
*.ninja_log
*.ninja
.vscode/
bin/
