*.o
*.dylib
*.dll
*.so
*.a
*.lib
*.exe
*.stackdump
test/test.*
*.out
*.stats
*.xml
prof.txt
gprof.txt
data/friendster.txt
data/livejournal.txt
data/facebook.txt
data/twitter.txt
data/gplus.txt
data/temporal
CMakeFiles/
CMakeCache.txt
*.cmake
*.ninja_deps
*.ninja_log
*.ninja
.vscode/
bin/
